name: deploy frontend/backend to GHCR

on:
  push:
    branches: 
        - main
        - kubernetes-migration

permissions:
  contents: read
  packages: write

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend }}
      recommendation: ${{ steps.filter.outputs.recommendation }}
      auth: ${{ steps.filter.outputs.auth }}
      database-migration: ${{ steps.filter.outputs.database-migration }}
      movie-data-database-table-update: ${{ steps.filter.outputs.movie-data-database-table-update }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with: 
          filters: |
            frontend:
              - 'frontend/**'
            recommendation:
              - 'backend/recommendation-model/api/**'
            auth:
              - 'backend/user-api/**'
            
  deploy-frontend:
    needs: detect_changes
    if: needs.detect_changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps: 
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3 

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v3 
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        
        - name: Build and push Docker image
          uses: docker/build-push-action@v5
          with:
            context: ./frontend
            file: ./frontend/Dockerfile
            push: true
            tags: |
              ghcr.io/vchen7629/cinesense-frontend:latest
              ghcr.io/vchen7629/cinesense-frontend:${{ github.sha }}
            build-args: VITE_API_BASE_URL=${{ secrets.PRODUCTION_API_URL }}
            cache-from: type=registry,ref=ghcr.io/vchen7629/cinesense-frontend:buildcache
            cache-to: type=registry,ref=ghcr.io/vchen7629/cinesense-frontend:buildcache,mode=max
  
  deploy-recommendation-api:
    needs: detect_changes
    if: needs.detect_changes.outputs.recommendation == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend/recommendation-model/api
          file: ./backend/recommedendation-model/api/Dockerfile
          push: true
          tags: |
            ghcr.io/vchen7629/cinesense-recommendation-api:latest
            ghcr.io/vchen7629/cinesense-recommendation-api:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/vchen7629/cinesense-recommendation-api:buildcache
          cache-to: type=registry,ref=ghcr.io/vchen7629/cinesense-recommendation-api:buildcache,mode=max
  
  deploy-auth-api:
    needs: detect_changes
    if: needs.detect_changes.outputs.auth == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps: 
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3 

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend/auth-api
          file: ./backend/auth-api/Dockerfile
          push: true
          tags: |
            ghcr.io/vchen7629/cinesense-auth-api:latest
            ghcr.io/vchen7629/cinesense-auth-api:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/vchen7629/cinesense-auth-api:buildcache
          cache-to: type=registry,ref=ghcr.io/vchen7629/cinesense-auth-api:buildcache,mode=max